<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list class="mobileNav">
      <!-- TODO: Remove this and put on homepage -->
      <a mat-list-item *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a mat-list-item *ngIf="auth.isAuthenticated()" routerLink="/dashboard">
        <fa-icon [icon]="faHandsHelping"></fa-icon>&nbsp;&nbsp;Dashboard
      </a>
      <a mat-list-item *ngIf="auth.isAuthenticated()" routerLink="/profile">
        <fa-icon [icon]="faUserCog"></fa-icon>&nbsp;&nbsp;Profile
      </a>
      <a mat-list-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()" type="button">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;&nbsp;Log Out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlex="grow" fxLayout="column">
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          <fa-icon [icon]="faBroadcastTower"></fa-icon>&nbsp;&nbsp;Beacon
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <!-- TODO: Remove this and put on homepage -->
            <a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">Login</span>
            </a>
          </li>
          <li *ngIf="auth.isAuthenticated()">
            <a routerLink="/dashboard">
              <fa-icon [icon]="faHandsHelping"></fa-icon>&nbsp;&nbsp;Dashboard
            </a>
          </li>
          <li *ngIf="auth.isAuthenticated()">
            <button mat-icon-button [matMenuTriggerFor]="userMenu" mat-icon-button>
              <fa-icon [icon]="faUserCircle" size="2x"></fa-icon>
            </button>
            <mat-menu #userMenu="matMenu">
              <a mat-menu-item routerLink="/profile" type="button">
                <fa-icon [icon]="faUserCog"></fa-icon>&nbsp;&nbsp;Profile
              </a>
              <button mat-menu-item (click)="auth.logout()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;&nbsp;Log Out
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main [@routerTransition]="getState(o)" fxFlex="grow">
      <router-outlet #o="outlet" fxFlex="none"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
