<div class="page-component-container mat-elevation-z2">
  <div class="mat-elevation-z2">
    <mat-toolbar class="header mat-elevation-z2">
      <h1><fa-icon [icon]="faHandsHelping"></fa-icon> Dashboard</h1>
    </mat-toolbar>
    <ng-template #loading class="loading-spinner-holder">
      <mat-spinner color="accent" class="loading-spinner"></mat-spinner>
    </ng-template>
    <mat-card fxLayout="row" fxLayoutGap="50px" *ngIf="(user$ | async) as user; else loading" class="mat-elevation-z2">
      {{user.givenName}} TODO!
    </mat-card>
  </div>
</div>
