<div class="page-component-container mat-elevation-z2">
  <ng-template #loading class="loading-spinner-holder">
    <mat-spinner color="accent" class="loading-spinner"></mat-spinner>
  </ng-template>
  <div fxLayout="row" fxLayoutGap="50px" *ngIf="(user$ | async) as user; else loading">
    <div fxFlex="1 1 50%" *ngIf="user.needsAssistance" class="mat-elevation-z2">
      <mat-toolbar class="header mat-elevation-z2">
        <h1><fa-icon [icon]="faLifeRing"></fa-icon> Seek Assistance</h1>
      </mat-toolbar>
      <mat-card class="mat-elevation-z2">
        For emergency assistance, select an option below<br/><br/>
        <button mat-raised-button color="warn" style="font-size: 2.0em" class="btn-full-width btn-big" (click)="getMedicalAssistance(user.id)">
          <fa-icon [icon]="faAmbulance"></fa-icon> Medical
        </button><br/><br/>
        <button mat-raised-button color="warn" style="font-size: 2.0em" class="btn-full-width btn-big" (click)="getLawEnforcementAssistance(user.id)">
          <fa-icon [icon]="faUserShield"></fa-icon> Law Enforcement
        </button>
      </mat-card>
    </div>

    <div fxFlex="1 1 50%" *ngIf="user.canAssist"  class="mat-elevation-z2">
      <mat-toolbar class="header mat-elevation-z2">
        <h1><fa-icon [icon]="faHandsHelping"></fa-icon> Assist Others</h1>
      </mat-toolbar>
      <mat-card class="mat-elevation-z2">
        <h2>Seek Assistance</h2>
        Seek assistance or provide assistance to others<br/><br/>
        For emergency assistance, select an option below<br/><br/>
        <button mat-raised-button color="warn" style="font-size: 2.0em" (click)="getMedicalAssistance(user.id)">
          <fa-icon [icon]="faAmbulance"></fa-icon> Medical
        </button>
        <button mat-raised-button color="warn" style="font-size: 2.0em" (click)="getLawEnforcementAssistance(user.id)">
          <fa-icon [icon]="faUserShield"></fa-icon> Law Enforcement
        </button>
      </mat-card>
    </div>
  </div>
</div>
