<div class="page-component-container mat-elevation-z2">
  <ng-template #loading class="loading-spinner-holder">
    <mat-spinner color="accent" class="loading-spinner"></mat-spinner>
  </ng-template>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" *ngIf="(user$ | async) as user; else loading">
    <div fxFlex="1 1 50%" *ngIf="user.needsAssistance" class="mat-elevation-z2">
      <mat-toolbar class="header mat-elevation-z2">
        <div fxLayout="row" class="flex-layout-full-width">
          <div fxFlex="grow">
            <h1><fa-icon [icon]="faLifeRing"></fa-icon> Seek Assistance</h1>
          </div>
          <div fxFlex="none" class="align-right">
            <button mat-mini-fab matTooltip="Call someone for assistance" matTooltipPosition="above" (click)="getGeneralAssistance()">
              <fa-icon [icon]="faMobileAlt" size="lg"></fa-icon>
            </button>
          </div>
        </div>
      </mat-toolbar>
      <mat-card class="mat-elevation-z2">
        For emergency assistance, select an option below<br/><br/>
        <button mat-raised-button color="warn" style="font-size: 1.8em" class="btn-full-width btn-big" (click)="getMedicalAssistance()">
          <fa-icon [icon]="faAmbulance"></fa-icon> MEDICAL
        </button><br/><br/>
        <button mat-raised-button color="warn" style="font-size: 1.8em" class="btn-full-width btn-big" (click)="getLawEnforcementAssistance()">
          <fa-icon [icon]="faUserShield"></fa-icon> LAW ENFORCEMENT
        </button>
      </mat-card>
    </div>

    <div fxFlex="1 1 50%" *ngIf="user.canAssist"  class="mat-elevation-z2">
      <mat-toolbar class="header mat-elevation-z2">
        <h1><fa-icon [icon]="faHandsHelping"></fa-icon> Assist Others</h1>
      </mat-toolbar>
      <mat-card class="mat-elevation-z2">
        Make yourself available for those who are in need of assistance<br/><br/>
        <button mat-raised-button *ngIf="user.onCall" color="warn" style="font-size: 1.8em" class="btn-full-width btn-big" (click)="toggleVolunteerOnCall(user.id, !!user.onCall)">
          <fa-icon [icon]="faUserShield"></fa-icon> SET UNAVAILABLE
        </button>
        <button mat-raised-button *ngIf="!user.onCall" color="primary" style="font-size: 1.8em" class="btn-full-width btn-big" (click)="toggleVolunteerOnCall(user.id, !!user.onCall)">
          <fa-icon [icon]="faUserShield"></fa-icon> GO AVAILABLE
        </button>
      </mat-card>
    </div>
  </div>
</div>
