<div class="container">
  <div class="card-container" *ngIf="auth0User">
    <mat-card>
      <form
        [formGroup]="allUsersFormGroup"
        (ngSubmit)="register()"
        novalidate>
        <div class="form-field">
          <h2>Thank you for signing up!</h2>
          <h3>Please complete your profile below</h3>
        </div>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Given Name"
                   formControlName="givenNameControl"
                   type="text"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Family Name"
                   formControlName="familyNameControl"
                   type="text"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Email"
                   formControlName="emailControl"
                   type="text"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Phone Number"
                   formControlName="phoneNumberControl"
                   type="string"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <mat-select
              placeholder="Known Languages"
              multiple
              formControlName="knownLanguageControl"
              (selectionChange)="changeKnownLanguage($event)">
              <mat-option *ngFor="let local of localeList" [value]="local">{{local.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <mat-select
              placeholder="Preferred Language"
              formControlName="preferredLanguageControl">
              <mat-option *ngFor="let locale of knownLocales" [value]="locale">
                {{locale.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <br/>
          <mat-divider></mat-divider>
          <br/>
        </div>
        <div class="form-field">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Looking for assistance in translation or cultural aid?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-checkbox placeholder="Requires Translation or Cultural Aid"
                            formControlName="requiresTranslationOrCulturalAidControl"
                            (change)="changeAid($event);"
              >
                <div class="checkbox-text">
                  Check here if you need assistance in translation or cultural aid.
                </div>
              </mat-checkbox>
              <mat-form-field>
                <mat-select
                  placeholder="Language"
                  [disabled]="!requiresTranslationOrCulturalAid"
                  formControlName="assistanceLanguageControl"
                  (selectionChange)="changeAssistanceLanguage($event)">
                  <mat-option *ngFor="let local of localeList" [value]="local">{{local.country}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </div>
        <div class="form-field">
          <br/>
          <mat-divider></mat-divider>
          <br/>
        </div>
        <div class="form-field">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Interested in helping others?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-checkbox placeholder="Interested in Providing Translation or Cultural Aid for Others"
                            formControlName="interestedInTranslationOrCulturalAidForOthersControl"
                            (change)="changeCapabilities($event);"
              >
                <div class="checkbox-text">
                  Are you interested in providing translation or cultural aid to others?
                </div>
              </mat-checkbox>
              <mat-form-field>
                <mat-select
                  placeholder="Assistance Capabilities"
                  multiple
                  [disabled]="!interestedInTranslationOrCulturalAidForOthers"
                  formControlName="assistanceCapabilitiesControl"
                  (selectionChange)="changeAssistanceCapabilities($event)">
                  <mat-option *ngFor="let key of assistanceCapabilitiesAsReadableList" [value]="key">
                    {{key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </div>
        <div class="form-field">
          <br/>
          <mat-divider></mat-divider>
          <br/>
        </div>
        <div>
          <div class="button-container form-field">
            <button
              mat-raised-button
              color="warn"
              type="submit">Submit
            </button>
          </div>
        </div>
        <br/>
      </form>
    </mat-card>
  </div>
</div>
