<div class="container">
  <div class="card-container">
    <mat-card>
      <form
        [formGroup]="allUsersFormGroup"
        (ngSubmit)="register()"
        novalidate>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Given Name"
                   formControlName="givenNameControl"
                   type="text"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Family Name"
                   formControlName="familyNameControl"
                   type="text"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Email"
                   formControlName="emailControl"
                   type="text"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <input matInput
                   placeholder="Phone Number"
                   formControlName="phoneNumberControl"
                   type="number"
                   required
            >
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <mat-select
              placeholder="Known Languages"
              multiple
              formControlName="knownLanguageControl"
              (selectionChange)="changeKnownLanguage($event)">
              <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <mat-select
              placeholder="Preferred Language"
              formControlName="preferredLanguageControl">
              <mat-option *ngFor="let language of knownLanguages" [value]="language">{{language}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div class="form-field">
          <mat-checkbox
            placeholder="Requires Translation or Cultural Aid"
            formControlName="requiresTranslationOrCulturalAidControl"
          >
            <div class="checkbox-text">
            Do you need assistance in translation or cultural aid?
            </div>
          </mat-checkbox>
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div class="form-field">
          <mat-checkbox
            placeholder="Interested in Providing Translation or Cultural Aid for Others"
            formControlName="interestedInTranslationOrCulturalAidForOthersControl"
          >
            <div class="checkbox-text">
              Are you interested in providing translation or cultural aid to others?
            </div>
          </mat-checkbox>
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div>
          <div class="button-container form-field">
            <button
              mat-raised-button
              color="warn"
              type="submit">Submit
            </button>
          </div>
        </div>
        <br />
      </form>
    </mat-card>

  </div>
</div>
