
.container {
  min-height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  min-height: 1px;
  text-align: center;
  /*width: 50%;*/
}

.mat-card {
  margin: 10px;
}

.mat-form-field {
  width: 75%;
}

.checkbox-text {
  white-space: normal;
}
