<div class="container">
  <mat-card>
  <form
    [formGroup]="allUsersFormGroup"
    (ngSubmit)="register()"
    novalidate>
    <div class="form-field">
      <mat-form-field>
        <input matInput
               placeholder="Given Name"
               formControlName="givenNameControl"
               type="text"
               required
        >
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <input matInput
               placeholder="Family Name"
               formControlName="familyNameControl"
               type="text"
               required
        >
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <input matInput
               placeholder="Phone Number"
               formControlName="phoneNumberControl"
               type="number"
               required
        >
      </mat-form-field>
    </div>
  </form>
  </mat-card>
</div>
