html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

router-outlet + * {
  flex: 1 1 auto;
  height: 100%;
}

.loading-spinner {
  margin: 0 auto;
}

.page-component-container {
  background-color: #e0e0e0;
  padding: 1em;
  height: 100%;
}
